@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat|Roboto');

$heading-font:    'Libre Baskerville', serif;
$background-color:rgb(236,240,241);
$accent-color: rgb(192,57,43);
$secondary-color: rgb(189,195,199);
$primary-color: rgb(37,55,71);